{% extends "hello_app/base.html" %}
{% block content %}
{% load static %}
    <h1>{{ title }}</h1>
    <form method="get" action="{% url 'charts' %}">
        <span> This counter runs on our server: </span>
        <input class="btn btn-outline-info ml-2" type="submit" value="{{ test_var }}" name="The_Button"/>
    </form>
    <div>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <link rel="stylesheet" type="text/css" href="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.min.css">

            <style>

            </style>

        </head>
        <div>
          <div style="display: flex; flex-direction: column;">
              <button class="btn btn-outline-info mt-3" onclick="showCharts_(['name', 'hp', 'armor', 'energy'])">Show The Charts</button>

              <div style="height: 100%, width:  auto; margin-top: 5%; position: relative;">
                <canvas id="bar-chart"  width="600px" height="500px"></canvas>
              </div>

              <div style="display: flex; flex-direction: row; margin-top: 5%; overflow: auto;">
                <div>
                  <canvas id="doughnut_hps" width="240px" height="240px"></canvas>
                </div>
                <div>
                  <canvas id="doughnut_armors" width="240px" height="240px"></canvas>
                </div>
                <div>
                  <canvas id="doughnut_energies" width="240px" height="240px"></canvas>
                </div>                                   
              </div>
          </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
        
        <script>
            
            let JSON_ADDRESS_ = "{% static 'hello_app/data.json' %}";

            async function readJSON_(address_) {
              const resp_ = await fetch(address_, {cache: "reload"});
              const json_parsed = await resp_.json();
              return json_parsed;
            }

            function JSON_extract_value_(
              parsed_json_object,
              upper_level,
              n,
              feature_name_) {
              // json = {upper_level: [{...}, {...}, {...} ...]}
              const value_ = parsed_json_object[upper_level][n][feature_name_]
              return value_;
            }

            async function JSON_extract_values_list_(
              json_address_,
              upper_level,
              feature_name_) {
              // json = {upper_level: [{...}, {...}, {...} ...]}
              const json_object_ = await readJSON_(json_address_);
              const json_len_ = Object.keys(json_object_[upper_level]).length;
              var values_list_ = [];
              for (let n = 0; n < json_len_; n++) {
                var value_ = JSON_extract_value_(
                json_object_,
                upper_level,
                n,
                feature_name_);
                values_list_.push(value_);
              };
              return values_list_;
            }

            async function readAndShowValues_(
            json_address_,
            upper_level,
            feature_name_) {
              const id_list_ = await JSON_extract_values_list_(
                json_address_,
                upper_level,
                feature_name_);
              var message_ = 'The ids are: ';
              message_ += id_list_;
              message_ += '. Total number: ';
              message_ += id_list_.length;
              message_ += ' ids.';
              revealMessage_(message_);
            }

            async function showCharts_(features_list_) {
              var results_ = [];
              for (feature_ of features_list_) {
                var values_ = await JSON_extract_values_list_(
                  JSON_ADDRESS_,
                  'users',
                  feature_);
                results_.push(values_);
              };
              const [names_, hps_, armors_, energies_] = results_;            
                

              const hp_colors = [
                          '#e60017',
                          '#fe5653',
                          '#f7c851',
                          '#d97924'
                          ];
              var ctx = document.getElementById("doughnut_hps").getContext('2d');
              var data = {
                  datasets: [{
                      data: hps_,
                      backgroundColor: hp_colors,
                  }],
                  labels: names_
              };
              var hpsDoughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: data,
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      title: {
                          display: true,
                          text: 'HPs',
                      },
                      legend: {
                          position: 'bottom',
                          labels: {
                              boxWidth: 12
                          }
                      }
                  }
              });

              const armor_colors = [
                          '#ffad08',
                          '#edd75a',
                          '#73b06f',
                          '#0c8f8f',
                          '#405059'
                          ];
              var ctx_2 = document.getElementById("doughnut_armors").getContext('2d');
              var data_2 = {
                  datasets: [{
                      data: armors_,
                      backgroundColor: armor_colors
                  }],
                  labels: names_
              };
              var armorsDoughnutChart = new Chart(ctx_2, {
                  type: 'doughnut',
                  data: data_2,
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      title: {
                          display: true,
                          text: 'Armors',
                      },
                      legend: {
                          position: 'bottom',
                          labels: {
                              boxWidth: 12
                          }
                      }
                  }
              });

              const energy_colors = [
                          '#8bbdd8',
                          '#83a3bd',
                          '#7c789c',
                          '#876089',
                          '#6d4672'
                          ];
              var ctx_3 = document.getElementById("doughnut_energies").getContext('2d');
              var data_3 = {
                  datasets: [{
                      data: energies_,
                      backgroundColor: energy_colors
                  }],
                  labels: names_
              };
              var energiesDoughnutChart = new Chart(ctx_3, {
                  type: 'doughnut',
                  data: data_3,
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      title: {
                          display: true,
                          text: 'Energies',
                      },
                      legend: {
                          position: 'bottom',
                          labels: {
                              boxWidth: 12
                          }
                      }
                  }
              });


              
              const upper_level = 'users'
              const json_object_ = await readJSON_(JSON_ADDRESS_);
              const json_len_ = Object.keys(json_object_[upper_level]).length;
              var datasets_ = [];              
              for (const [index_, feature_] of features_list_.slice(1).entries()) {
                var dataset_ = {};
                dataset_['data'] = []
                dataset_['label'] = feature_;
                dataset_['backgroundColor'] = hp_colors[index_];
                for (let n = 0; n < json_len_; n++) {                  
                  var value_ = json_object_[upper_level][n][feature_];
                  dataset_['data'].push(value_);
                }
                datasets_.push(dataset_);
              };
             

              var barChart = new Chart(document.getElementById('bar-chart').getContext('2d'), {
                type: 'bar',
                data: {
                  labels: names_,
                  datasets: datasets_
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  legend: {
                    display: true,
                    position: 'right'
                  },
                  title: {
                    display: true,
                    text: 'Characters and their features'
                  }
                }
            });
          
            }
            </script>
        </div>
    </div>
{% endblock content %}